$variable-columns: false;
$primary: #6a5acd;
$section-padding: 1.5rem 1.5rem;
@import "~bulma/bulma";
@import "prism.scss";

.middle-col {
  width: 800px;
  max-width: 100%;
  margin: 0 auto;
  word-wrap: break-word;
}

.content code {
  word-wrap: inherit;
}

.post-link {
  margin-bottom: 15px;
}

.project-link {
  margin-bottom: 15px;
}

.article-header {
  padding-top: 40px;
  padding-bottom: 60px;
}

.article-footer {
  padding-top: 500px;
}

// reset Bulma className also used by Prism
.token.number {
  font-size: 100%;
  margin: 0;
  padding: 0;
  min-width: 0;
  display: initial;
  vertical-align: baseline;
};
